* {
  /*border-style: solid;*/
  /*font-family: 'EB Garamond', 'serif';*/
  font-family: 'Permanent Marker', cursive;
}
nav {
  display: flex;
  flex-direction: row;
}
nav a {
  flex: 1;
  text-align: center;

}
.text_format {
  font-size: 22px;
}
.site_title {
  font-size: 30px;
}
.subtitle {
  position: relative;
  font-size: 12px;
  left: 10px;
}
#title {
  width: 33%;
}
#header_buttons {
  position: absolute;
  right: 5px;
  top: 10px;
  display: flex;
  flex-direction: column;
  padding: 1px;
}
.site_button {
  margin: 1px;
}

.downloads_button {
  flex: 1;
}
body {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-gap: 10px;*/
  position: relative;
}
.download {
  display: flex;
}
/*nav, header, #pitch, #uses, #download,  #contact_info{
  make a class above
  grid-column: 1/4;
}*/
.page_width {
  grid-column: 1/4;
}
header {
  grid-row: 1/3;
  /*grid-column: 1/4;*/
  position: relative;
}
nav {
  /*grid-column: 1/4;*/
  /*grid-gap: 0px;*/
}
nav a {
  text-decoration: none;
}
#pitch {
  /*grid-column: 1/4;*/
  text-align: center;
}
#uses {
  /*grid-column: 1/4;*/
}
#download {
  /*grid-column: 1/4;*/
}
#pitch_content, #uses{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
}
#uses {
  grid-template-rows: 500px;
}
#pitch_top {
  grid-column: 1/3;
  border-style: solid;

}
#pitch_left, #uses_link_words{
  grid-row: 2;

}
#uses_link_words {
  grid-column: 2;
}
#pitch_left h4, #pitch_left p, #pitch_right h4, #pitch_right p {
  border-style: solid;
}
#pitch_table {
  /*grid-column: 1/3;*/

}
#pitch_table th {
  width:50%;
  border-style: solid;

}
#pitch_question, #pitch_table {
  grid-column: 1/3;
}
#contact_info {
  /*grid-column: 1/4;*/
}
#button_wrapper {
  vertical-align: bottom;
  align-self: center;
  align-items: center;
  text-align: center;
}
